.recipePage {
  display: flex;
  margin: auto;
  width: 75%;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  padding: 2px 16px;
}

.card {
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 15px !important;
  background-color:  rgb(31, 31, 31) !important;
  box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.2) !important;
  transition: 0.3s;
}

.cardContent {
  color: lightgray;
  margin-top: 20px;
  margin-left: 25px;
}

.titulos {
  padding-bottom: 10px;
}

.ingredientes {
  padding: 15px;
  padding-left: 15px;
  color: rgb(185, 185, 185);
}

.instrucoes {
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(185, 185, 185);
}

a.error-link:link {
  color: lightgrey;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

a:visited {
  color: lightskyblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}